.survey-page {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 56px;
        font-weight: bold;
    }

    .survey-container {
        width: 800px;
        min-height: 300px;
        background-color: #EADBC8;
        border-radius: 16px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;

        .inputs-container {
            margin-top: 56px;
        }
    }
}